body{
    background-image: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-repeat: no-repeat;
    background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;

}
p{
   color: aliceblue;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 95px;
    font: Arial, sans-serif;
    text-align: center;

}
a{
    text-decoration: none;
}
button{
    
    width:100px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(18, 33, 61);;
    border-radius: 25px;


} 

  

div {
    
    padding-top: 100px;
    margin: auto;
    width:100px;
    height: 100px;
    align-items: center;


  }  
